body {
    font-family: sans-serif;
    background-color: lightgreen;
    margin-top:149px;
}

.center {
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
    front-colour:light;
}

.img-medium {
    height :800px;
    leftshift:20psec;
    height: 200px;
}

